*~
*.swp
*.pyc
*-journal

/*\.egg-info
/database\.sqlite

/\.virtenv
/app/local_settings\.py
/cache
/media/dist
/node_modules
/socket
/static
/storage
/virtenv

/pg_database\.dump
/fixtures_*\.json

/htmlcov
/\.coverage
/coverage\.xml
