*~
*.swp
*.pyc
*-journal

/*\.egg-info
/db.sqlite3

/node_modules
/static
/\.virtenv
/virtenv




/pg_database\.dump
/fixtures_*\.json

/htmlcov
/\.coverage
/coverage\.xml

/homepage/local_settings.py
