{% load menu_tags %}
<nav class="mdc-list">
{% for child in children %}
    <a class="mdc-list-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">
            {% if child.selected or child.ancestor %}
                folder_open
            {% else %}
                folder
            {% endif %}
        </i>{{ child.get_menu_title }}
    </a>
    {% if child.children %}
        <hr class="mdc-list-divider">
        {% show_menu from_level to_level extra_inactive extra_active "cmsplugin_markdown/submenu.html" "" "" child %}
        <hr class="mdc-list-divider">
    {% endif %}
{% endfor %}
</nav>
