{% load i18n %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="">{% trans "Address" %}</th>
            <th width="">{% trans "Account" %}</th>
        </tr>
    </thead>
    <tbody>
    {% verbatim %}
        <tr ng-repeat="obj in data.items">
            <td>
                <span ng-if="obj.standard == true" class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <span ng-if="obj.standard == false" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                <a href="{{ obj.bmfdetail }}">{{ obj.local }}@{{ obj.domain_name }}</a>
            </td>
            <td>
                <a href="{{ obj.account_url }}">{{ obj.account_name }}</a>
            </td>
        </tr>
    {% endverbatim %}
    </tbody>
</table>
