@import "normalize-css/normalize";

$mdc-layout-grid-breakpoints: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 0
);

$mdc-layout-grid-container: (
  xl: 1140px,
  lg: 960px,
  md: 720px,
  sm: 540px,
  xs: 0
);

$mdc-layout-grid-columns: (
  xl: 12,
  lg: 12,
  md: 8,
  sm: 6,
  xs: 2
);

$mdc-layout-grid-default-margin: (
  xl: 32px,
  lg: 24px,
  md: 20px,
  sm: 16px,
  xs: 16px
);

$mdc-layout-grid-default-gutter: (
  xl: 32px,
  lg: 24px,
  md: 20px,
  sm: 16px,
  xs: 16px
);

$mdc-layout-grid-column-width: (
  xl: 72px,
  lg: 72px,
  md: 72px,
  sm: 72px,
  xs: 72px
);

$mdc-layout-grid-default-column-span: 12;

@import "node_modules/material-components-web/material-components-web.scss";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    @each $size in map-keys($mdc-layout-grid-breakpoints) {

        $min: mdc-layout-grid-breakpoint-min($size);
        $max: mdc-layout-grid-breakpoint-max($size);
        $container: map-get($mdc-layout-grid-container, $size);
        $gutter: map-get($mdc-layout-grid-default-gutter, $size);

        // lower breakpoint
        @if $min == null and $max != null {
            @media (max-width: $max) {
                padding-right: ($gutter / 2);
                padding-left: ($gutter / 2);
                width: 100%;
            }
        }

        // between lower and upper breakpoint
        @else if $min != null and $max != null {
            @media (min-width: $min) and (max-width: $max) {
                padding-right: ($gutter / 2);
                padding-left: ($gutter / 2);

                @if $container > 0 {
                    width: $container;
                }
                @else {
                    width: 100%;
                }
            }
        }

        // upper breakpoint
        @else if $min != null and $max == null {
            @media (min-width: $min) {
                padding-right: ($gutter / 2);
                padding-left: ($gutter / 2);

                @if $container > 0 {
                    width: $container;
                }
                @else {
                    width: 100%;
                }
            }
        }

        // fallback - only one breakpoint
        @else {
            padding-right: ($gutter / 2);
            padding-left: ($gutter / 2);

            @if $container > 0 {
                width: $container;
            }
            @else {
                width: 100%;
            }
        }
    }
}
